#more_options {
  width: 195px;
  margin-top: 30px;
  position: relative;
  left: -185px;
  z-index: 1001;
}
#more_options .more_options_group {
  
  position: absolute;
  right: -20px;
  height: 20px;
  /* top: 2%; */
}
.more_options_group .filters  {
 
  /* cursor: pointer; */
  /* trapezium */
  /* border-left: 35px solid rgb(83, 81, 81);
  border-bottom: 15px solid transparent;
  border-top: 15px solid transparent; */
  position: absolute;
  top:45vh;
  left: -1.5vw;
  height: 135px;
  width: 94px;
  background-color: steelblue;

}
.filter_icon{
  position: relative;
  margin-top: 20px;
  margin-left: 20px;
}
.filter_open{
  position: absolute;
  margin-top: 100px;
  margin-left: 20px;
}
.more_options_group .compare  {
 
  cursor: pointer;
  /* trapezium */
  /* border-left: 35px solid rgb(83, 81, 81);
  border-bottom: 15px solid transparent;
  border-top: 15px solid transparent;  -1.5*/ 
  position: absolute;
  top:59.3vh;
  left: -1.5vw;

  height: 135px;
  width: 94px;
  background-color: #073e81;
 
}
.compare_icon{
  position: relative;
  margin-top: 20px;
  margin-left: 20px;
}
.compare_open{
  position: absolute;
  margin-top: 100px;
  margin-left: 20px;
}
.filters p {
  color: rgb(255, 255, 255);
  position: relative;
  /* transform: rotate(270deg); */
  /* display: inline-block; */
  top: 10px;
  left: 0.5vw;
  font-size: 15px;

 
}
.compare p {
  color: rgb(252, 250, 250);
  position: relative;
  /* transform: rotate(270deg); */
  /* display: inline-block; */
  top: 1vh;
  left: 1vw !important;
  font-size: 15px;
}
.zoom_ctrl_wrapper{
  border: 0.1px solid rgb(233, 225, 225);

}

